<!doctype html>
<html class="">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Clima Actual - Raspberry PI</title>
	<meta name="author" content="cristiannavarrete.com">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="images/mobile.png">
	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="images/mobile.png">
	<meta name="apple-mobile-web-app-title" content="Temperatura">
	<meta name="application-name" content="Temperatura">
	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css" />
	<!-- Theme CSS -->
	<link rel="stylesheet" href="stylesheets/main.css" />
	<!-- Head Libs -->
	<script src="vendor/modernizr/modernizr.js"></script>
	
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
</head>
<body>
	<!-- start: page -->
	<h2 class="mt-none">Últimas Mediciones</h2>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div class="summary" data-id="exterior">
				<h4 class="title">Interior</h4>
				<div class="info">
					<strong class="amount">Updating °C</strong><br>
					<span>Updating Humedad</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="summary" data-id="exterior">
				<h4 class="title">Exterior</h4>
				<div class="info">
					<strong class="amount">Updating °C</strong><br>
					<span>Updating Humedad</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-primary btn-big btn-block js-UpdateData" style="margin-top: 1em;"><i class="fa fa-refresh"></i> Actualizar</button>
		</div>
		<div class="col-xs-12 col-md-6">
			<button class="btn btn-primary btn-big btn-block js-generarGrafico" style="margin-top: 1em;"><i class="fa fa-bar-chart-o"></i> Gráficas</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="chart" id='chart'>
				<h2>Gráfico Historico</h2>
				<svg style='height:500px'></svg>
			</div>
		</div>
	</div>f

<!-- Vendor -->
<script src="vendor/jquery/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<!-- Magia -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.js"></script>
<script src="javascripts/realtime.js"></script>

</body>
</html>